<!doctype html>
<html lang="pt" ng-app="Application">
  <head>
  	<meta charset="UTF-8">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="css/style.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/facebook.js"></script>
    <script src="app.js"></script>
    <title>Segredos UFSC ++</title>
  </head>
  <body ng-controller="MainController">
  <div class="container">
	<nav class="navbar navbar-inverse">
		<a class="navbar-brand brand-git" target="_black" href="https://github.com/lucasPereira/segredosUfscMaisMais">
			<img src="images/github.png">
		</a>
		<div class="form-group">
			<input type="text" class="form-control search" ng-model="query" placeholder="Pesquise por um Segredo">
		</div>
	</nav>
	<div class="row">
        <div class="col-md-6" ng-repeat="post in posts  | filter:{message:query}">
			<div class="list-group">
				<a target="_black" title="Clique para ler ..." href="http://www.facebook.com/{{ page }}/posts/{{ post.id }}" class="list-group-item active">
					<!-- <h4 class="list-group-item-heading">List group item heading</h4> -->
					<p>{{ post.message | cutMessage }}</p>
					<p class="featured">Curtida(s): {{ post.likes.data.length }} | Comentário(s): {{ post.likes.data.length }}</p>
				</a>
			</div>
		</div>
	</div>
  </div>
  </body>
</html>
